.card {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--card-speed, (360ms)) ease-out;
  box-sizing: border-box;
  background: var(--bg, hsl(0 0% 100%));
  box-shadow:
    0 0 0 1px hsl(0 0% 0% / 10%),
    0 2px 16px 0 hsl(0 0% 0% / 15%);
  border-radius: 2px;
  &__wrap {
    overflow: hidden;
    box-sizing: border-box;
  }
  &__body {
    display: grid;
    grid-template-areas: var(--areas);
    padding: var(--card-padding, 12px);
    box-sizing: border-box;
  }
  &.open {
    grid-template-rows: 1fr;
  }
}
