.column {
  display: grid;
  gap: var(--dashboard-gap, 0);
  align-content: start;
  height: calc(100dvh - (var(--dashboard-padding, 16px) * 2));
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
