@use './mixins';
@import './normalize';

:root {
  // color
  --color-bg: hsl(210 / 25% / 98.43%);
  --color-text-base: #222;
  --color-text-key: #0dceae;
  // size
  --size-text-base: 16px;
  // font
  --font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --font-eng: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
  touch-action: manipulation;
}
body {
  margin: 0;
  background: var(--color-bg);
  overflow: hidden;
  position: fixed;
  width: 100dvw;
  height: 100dvh;
}
body, button, input, textarea, select {
  font-family: var(--font-base);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: none;
  color: var(--color-text-base);
}
main {
  box-sizing: border-box;
}
a {
  color: var(--color-text-key);
}
